.draggable-list-wrapper {
  position: relative;

  .draggable-list {
    display: grid;
    gap: 0.25em;
    min-height: 52px;
    padding: 5px;
    border-radius: var(--radius);
    background: var(--color-light-shade);

    .drag-list-item {
      background: var(--color-light);
      border-radius: var(--radius);
      display: grid;
      grid-template-columns: auto 1fr;

      .drag-handle {
        padding: 0.5em;
        display: grid;
        place-items: center;
        cursor: grab;
      }
      .list-item-content {
        padding: 0.5em;
      }

      &:hover {
        background: var(--color-white);
      }

      &-disabled {
        grid-template-columns: 1fr;

        .drag-handle {
          display: none;
        }
      }
    }
  }

  .default-message {
    text-align: center;
    background: var(--color-light);
    font-size: 0.8em;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }
}

.task-list-item {
  display: grid;
  grid-template-areas:
    'date tags tags tags actions'
    'content content resp resp resp';
  grid-template-columns: 100px 1fr 100px;
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 0.5em;

  .task {
    &-date {
      grid-area: date;
      font-size: 0.8em;
      opacity: 0.6;
    }
    &-tags {
      grid-area: tags;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 0.25em;
      flex-wrap: wrap;

      li {
        border-radius: calc(var(--radius) * 4);
        background: var(--color-medium);
        color: var(--color-medium-text);
        padding: 0.15em 0.75em;
        height: 20px;
        font-size: 0.7em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        white-space: nowrap;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          background: colorLightness('medium', -0.25);
        }

        i.fa.fa-times:hover {
          color: colorLightness('medium-text', -0.9);
        }
      }

      .label-input {
        max-width: 100px;
        overflow: hidden;

        input::placeholder {
          color: white;
        }
      }
    }
    &-actions {
      grid-area: actions;

      button {
        height: 20px;
      }
    }
    &-content {
      grid-area: content;

      > * {
        margin: 0;
      }
    }
    &-responsible {
      grid-area: resp;
      display: flex;
      gap: 0.25em;
      justify-content: flex-end;
    }
  }
  &:not(:has(.task-date)) {
    grid-template-areas:
      'content content content content actions'
      'tags tags tags resp resp';

    .task-tags {
      justify-content: flex-start;
    }
  }

  @media (max-width: 512px) {
    grid-template-areas:
      'date date actions'
      'tags tags tags'
      'content content content'
      'resp resp resp';

    grid-template-columns: 100px 1fr 100px;
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding: 0.5em;

    .task-tags {
      justify-self: flex-start;
    }
    .task-actions {
      justify-self: flex-end;
    }
  }
}

.task-timeline-item {
  $gap: 1em;
  $avatarSize: 38px;

  display: grid;
  grid-template-columns: $avatarSize 1fr;
  gap: 1em;
  align-items: center;
  position: relative;
  cursor: pointer;

  .user-avatar {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    width: $avatarSize;
    height: $avatarSize;
  }

  .item-wrapper {
    display: grid;
    gap: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  .item-head {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 0.85em;

    .item-id {
      margin: 0;
      font-weight: 600;
    }

    .time {
      white-space: nowrap;
      opacity: 0.75;
    }
  }

  .item-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;

    p {
      margin: 0;
    }

    .item-title {
      font-weight: 600;
    }
    .item-description {
      font-size: 0.8em;
      line-height: 1.2;
    }

    .buttons {
      .fa {
        cursor: pointer;
      }
    }
  }
}
